<h1><%= @boards.length > 0 ? "All Boards" : "You don't have any boards."%>
  <%if @boards.length == 0%>
    <i class="large frown outline icon"></i></h1>
  <% else %>
    <hr>
    <ul>
      <% @boards.each do |board| %>
        <li><%= link_to board.title, board_path(board), class: "ui green button" %></li>
      <% end %>
    </ul>
  <% end %>